/* Llamar a la fuente */
@font-face {
    font-family: 'Press Start 2P';
    src: url('./fonts/PressStart2P.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBMPlexMono.ttf') format('truetype');
}


/* Variables de estilo */
:root {
    --font-primary: "Press Start 2P", serif;
    --font-secondary: 'IBM Plex Mono', monospace;
    --color-primary: #5300C8;
    --color-text-light: #E5E5E5;
    --color-text-white: #FFFFFF;
    --color-card: #5D04D9;
    --color-borde-card: #000000;
    --color-input: #03318C;

}

/* Estilos generales */
body {
    margin: 0;
   
}

* {
    box-sizing: inherit; /* Aplica el box-sizing a todos los elementos */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-text-light);
    background-color: var(--color-primary);
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-between;
    width: 1380px;
    height: 1235px;
    margin: 0 auto;
    border-radius: 10px;
    gap: 70px;
}

/* Mis Productos */
.mis-productos{
    margin-top: 40px;
}
.productos-container {
    width: 758px;
    background-color: var(--color-text-white);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    gap: 20px; /* Espacio entre tarjetas */
    overflow-y: auto; 
    
}

.mis-productos h2 {
    text-align: center;
    font-family: var(--font-primary);
    
    
}


.card {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--color-borde-card);
    background-color: var(--color-card);
    border-radius: 10px;
    padding: 10px;
    Width: 196px;
    Height: 258px;
    
}

.card img{
    border: 3px solid var(--color-borde-card);
    border-radius: 5px;
    Width: 176px;
    Height: 174px;
    margin-left: 8px;
    
    
}

.card-container--info{
    font-family:var(--font-secondary) ;
    color: var(--color-text-white);
}

.card-container--value{
    display: flex;
    justify-content: space-between;
    
}

.card-container--value img {
    width: 30px;         /* Establece un tamaño fijo adecuado */
    height: auto;        /* Mantiene la proporción de la imagen */
    object-fit: contain; /* Asegura que la imagen se ajuste sin distorsionarse */   
    cursor: pointer;     /* Muestra que es interactuable */
    border: 3px solid var(--color-card);
}


/* Agregar Producto */
.agregar-producto {
    width: 472px;
    height: 517px;
    padding: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-text-white);
    border-radius: 10px;
    
}

.agregar-producto h2 {
    text-align: center;
    font-family: var(--font-primary);
    margin-bottom: 50px; /* Espacio entre el título y el formulario */
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}

.input{
    Width: 392px;
    Height: 58px;
    border-radius: 30px;
    padding: 10px;
    Border: 3px solid var(--color-input);
    font-family: var(--font-secondary);
    color: var(--color-input);
    font-size: 16px;
    font-weight: 600;
    
}

input::placeholder{
    color: var(--color-input);
    font-family: var(--font-secondary);
}

.button{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    
}

.boton-enviar, .boton-limpiar{
    Width: 188px;
    Height: 55px;
    border-radius: 15px;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.boton-enviar{
    background-color: var(--color-input);
    border-color: var(--color-input);
    color: var(--color-text-white);
}

.boton-limpiar{
    background-color: var(--color-text-white);
    color: var(--color-input);
    border-color: var(--color-input);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 232px;
    color: var(--color-text-white);
    background-color: var(--color-primary);
}

footer p:first-child {
    font-family: var(--font-primary);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

footer p:nth-child(2) {
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
}

footer p:nth-child(3) {
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 200;
    margin: 5px 0;
}



/* Responsabilidad para pantallas de 430px de ancho */
@media (max-width: 430px) {
    
    header {
        
        font-size: 14px;
       
    }

    main {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        padding: 0;
       
    }


    .mis-productos {
        display: flex;
        flex-direction: column; /* Coloca el título y las tarjetas en columna */
        width: 100%;
        padding: 0;
        margin-bottom: 90px;
    }

    .mis-productos h2 {
        text-align: center; /* Centrar el título */
        margin-bottom: 20px; /* Espacio entre el título y las tarjetas */
        
    }
    
    .productos-container {
        display: grid;
        grid-auto-flow: column; /* Fuerza scroll horizontal */
        grid-template-rows: repeat(2, auto); /* Dos filas visibles */
        gap: 8px; /* Espacio entre las tarjetas */
        row-gap: 20px;
        overflow-x: auto; /* Scroll horizontal */
        overflow-y: hidden; /* No permitir scroll vertical */
        scroll-snap-type: x mandatory; /* Mejora la experiencia del scroll */
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
    
    .agregar-producto {
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 40px;
        
    }

    .button {
        gap: 5px;
        padding: 0;
    }

    
}

  